#guzik {
    margin: 10px 0px;
    padding: 10px 20px;
    width: 200px;

}

#guzik2 {
    margin: 10px 0px;
    padding: 10px 20px;
    width: 200px;
}

input {
    margin: 10px 0px;
    width: 200px;
    display: block;
}

#details {
    margin: 10px;
}

body {
    margin: 10px;
}