<div *ngIf="reservations.length > 0; then customersList; else noCustomers"></div>

<ng-template #customersList>
    <div id="aaa">
        <h3 class="h3">Last Week Reservations List:</h3>
        <button id="filtry" class="btn btn-success" (click)="toggleFilter()">Filter On/Off</button>
    </div>
    <div>
        <table class="table table-hover table-responsive-md" *ngIf="showFilter">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>Room Type</th>
                    <th>Room Number</th>
                    <th>Check-in Date</th>
                    <th>Check-out Date</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Date Updated</th>
                    <th>Favourite</th>
                    <th>Notes</th>
                    <th>ADD Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservations; let i = index">
                    <td>{{ reservation.id | number}}</td>
                    <td>{{ reservation.customer.firstName }} {{ reservation.customer.lastName }}</td>
                    <td>{{ reservation.roomType | uppercase}}</td>
                    <td>{{ reservation.room | number}}</td>
                    <td>{{ reservation.dateArrival | date:'shortDate'| date:'dd/MM/yyyy'}}</td>
                    <td>{{ reservation.dateDeparture | date:'shortDate'| date:'dd/MM/yyyy'}}</td>
                    <td>{{ reservation.paymentAmount | currency: 'PLN'}}</td>
                    <td>{{ reservation.status | uppercase}}</td>
                    <td>{{ reservation.dateUpdated | date:'shortDate'| date:'dd/MM/yyyy'}}</td>
                    <td>
                        <favourite [isSelected]="reservation.isSelected" (change)="onFavouriteChange($event)">
                        </favourite>
                    </td>
                    <td>{{ reservation.notes }}</td>
                    <td>
                        <span id="span" (click)="toggleNoteEdit(i)"><button *ngIf="noteVisible" (click)="hideNote()"
                                id="invisible">📓</button></span>
                        <div *ngIf="reservation.editing">
                            <textarea placeholder="Add Note" [(ngModel)]="reservation.newNote"></textarea>
                            <button id="guzik" class="btn btn-success" (click)="saveNote(i)">Save</button>
                            <button class="btn btn-success" (click)="goBack(i)">Back</button>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</ng-template>

<ng-template #noCustomers>
    <div id="aaa">
        <h3 class="h3">There are no reservations made in the last week</h3>
        <button id="filtry" class="btn btn-success" (click)="toggleFilter()">Filter On/Off</button>
    </div>

</ng-template>