h3 {
    margin: 12px;
}

#guzik {
    margin: 5px;
    padding: 5px 10px;
    margin-left: 0px;
}

textarea {
    display: block;
}

#invisible {
    background: transparent;
    border: none !important;
}