<div id="tytuł">
    <h1>List of Customers:</h1>
    <form class="form-inline ml-auto">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button id="guzik" class="btn btn-success" type="button">Search by TCno</button>
    </form>
</div>
<div id="tabela">
    <table class="table table-hover table-responsive-md table-sm ">
        <thead class="table-dark">
            <tr>
                <th>Customer Name</th>
                <th>TC Number</th>
                <th>Submit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers; let i=index">
                <td>{{ customer.firstName }} {{ customer.lastName }}</td>
                <td>{{ customer.tcNo }}</td>
                <td><button class="btn btn-success" (click)="onSelectCustomer(customer.id)">Create
                        Reservation</button></td>
            </tr>
        </tbody>

    </table>
</div>